html, body {
    width: 100%;
    height: 100%;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    justify-self: center;
}

#searchbox {
    width: 100%;
}

footer {
    grid-area: footer;
    background-color: #e6e6e6dc;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        'header header header header header'
        'main main main main main'
        'footer footer footer footer footer';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a {
    display: block;
    padding: 8px;
}