html, body {
    width: 100%;
    height: 100%;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
    justify-self: center;
    align-self: center;
}

footer {
    grid-area: footer;
}

article {
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        'header header header header header'
        'main main main main main'
        'footer footer footer footer footer';
}